@model IEnumerable<Models.Retention>

@if (Model.Any())
{
    <div class="tna-!--margin-top-m">
        <h2>Retention</h2>
        @if (Model.Single().ImportLocation.Any())
        {
            <dl class="tna-dl tna-dl--plain">
                <dt>Import location</dt>
                <dd>@Model.Single().ImportLocation.Single()</dd>
            </dl>
        }
    </div>
}