@page "/search"
@model Explorer.Pages.Search.SearchModel

<section class="tna-container tna-!--margin-top-m tna-container--align-centre">
    <div class="tna-column tna-column--width-1-2">
        <form method="post">
            <div class="tna-search-field">
                <div class="tna-form__group">
                    <div class="tna-search-field__fields">
                        <input type="search" class="tna-search-field__input " name="q">
                        <button type="submit" class="tna-button tna-search-field__button">
                            Search
                            <i class="fa-solid fa-fw fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="tna-container tna-!--margin-top-m">
    @if(Model.Results is not null && Model.Results.Any())
    {
        var variationDriIdKey = Api.Vocabulary.VariationDriId.Uri.Segments.Last();
        var assetReferenceKey = Api.Vocabulary.AssetReference.Uri.Segments.Last();
        var subsetReferenceKey = Api.Vocabulary.SubsetReference.Uri.Segments.Last();
        var sensitivityReviewDriIdKey = Api.Vocabulary.SensitivityReviewDriId.Uri.Segments.Last();
        <ul class="tna-ul tna-ul--dashed">
            @foreach(var item in Model.Results)
            {
                var t = item["t"] as Uri;
                var text = item["text"] as string;
                <li>
                    @if(Api.Vocabulary.Variation.Uri.Equals(t))
                    {
                        <a asp-page="/variation/item" asp-route-id="@item[variationDriIdKey]">@text (variation)</a>
                    }
                    else if (Api.Vocabulary.Asset.Uri.Equals(t))
                    {
                        <a asp-page="/asset/item" asp-route-id="@item[assetReferenceKey]">@text (asset)</a>
                    }
                    else if (Api.Vocabulary.Subset.Uri.Equals(t))
                    {
                        <a asp-page="/subset/item" asp-route-id="@item[subsetReferenceKey]">@text (subset)</a>
                    }
                    else if (Api.Vocabulary.SensitivityReview.Uri.Equals(t))
                    {
                        <a asp-page="/sensitivityreview/item" asp-route-id="@item[sensitivityReviewDriIdKey]">@text (sensitivity review)</a>
                    }
                </li>
            }
        </ul>
    }
</section>