@page "/subset"
@using Api
@model Explorer.Pages.Subset.ListModel

<section class="row tna-!--margin-top-m">
    <h1>Subsets</h1>
    <ul class="tna-ul tna-ul--dashed">
        @foreach (var subset in Model.List.Items.OrderBy(i => i.Reference.Single()))
        {
            <li>
                <p>
                    <a asp-page="/subset/item" asp-route-id="@subset.Reference.Single()">@subset.Reference.Single()</a> @subset.Name.SingleOrDefault()
                </p>
            </li>
        }
    </ul>
</section>